#ifndef SECRET_H
#define SECRET_H

// --- WIFI CREDENTIALS ---
#define WIFI_SSID "WIFI_SSID"
#define WIFI_PASS "WIFI_PASSWORD"

// --- MQTT CONFIGURATION ---
#define MQTT_SERVER "MQTT_BROKER_ADDRESS"
#define MQTT_PORT 8883
#define MQTT_USER "USERNAME"
#define MQTT_PASS "PASSWORD"

#define DEVICE_ID "feeder_001"
#define TELEMETRY_TOPIC "/devices/feeder_001/events"
#define EVENT_TOPIC "/devices/feeder_001/events/feeding"
#define COMMAND_TOPIC "/devices/feeder_001/commands"

// --- TLS CERTIFICATE ---
const char* ca_cert = "TLS_CERTIFICATE"